@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}

:root {
    /* font-size */
    --fs-xxs: 12px;
    --fs-xs: 14px;
    --fs-s: 16px;
    --fs-sm: 20px;
    --fs-md: 24px;
    --fs-lg: 28px;
    --fs-xl: 36px;
    --fs-xxl: 48px;
    --fs-3xl: 60px;
    --fs-4xl: 64px;
    /* color */
    --fc-nav_white: #FCF9F6;
    --fc-nav_white70: #B1AEAC;
    --fc-white: #FFFFFF;
    --fc-white70: #B3B3B3;
    --fc-black: #090909;
    --fc-lightblack: #1A1A1A;
    --fc-lightblack70: #5F5F5F;
    --fc-lightyellow: #D7C8AE;
    --fc-darkyeelow: #312611;
    --fc-lighteryellow: #110C04;
    --fc--shadowgrey: #D8D8D840;
    --fc-bordergrey: #312F2B;
    --fc-footer-Bordergrey: #53504C;
    --fc-timelineBorder: #D7C8AE52;
    --fc-historyYellow: #F4EAD8;
    --fc-navtabborder: #5E5E5E;
}

.color-white70 {
    color: var(--fc-white70);
}

.color-black {
    color: var(--fc-black);
}

.color-lightyellow {
    color: var(--fc-lightyellow);
}

.color-navWhite {
    color: var(--fc-nav_white);
}

.color-lightblack {
    color: var(--fc-lightblack);
}

.color-lightblack70 {
    color: var(--fc-lightblack70);
}

.color-nav_white70 {
    color: var(--fc-nav_white70);
}

.bordergrey {
    background: var(--fc-bordergrey);
}


.hero_bg_img {
    background: var(--fc-black);
}

.my-container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* font-size */
.text-xxs {
    font: var(--fs-xxs);
}

.text-xs {
    font: var(--fs-xs);
}

.text-3xl60 {
    font-size: var(--fs-3xl);
}

.text-s {
    font-size: var(--fs-s);
}

.text-sm {
    font-size: var(--fs-sm);
}

.text-xl {
    font-size: var(--fs-xl);
}

.text-xxl48 {
    font-size: var(--fs-xxl);
}

.text-lg {
    font-size: var(--fs-lg);
}

.text-md {
    font-size: var(--fs-md);
}


/* --fs-xxs: 12px;
        --fs-xs: 14px;
        --fs-s: 16px;
        --fs-sm: 20px;
        --fs-md: 24px;
        --fs-lg: 28px;
        --fs-xl: 36px;
        --fs-xxl: 48px;
        --fs-3xl: 60px;
        --fs-4xl: 64px; */

/* font-family */
.font-helvetico {
    font-family: 'helvetica', sans-serif;
}

.font-helvetica-italic {
    font-family: 'helvetica-italic', sans-serif;
}

@font-face {
    font-family: helvetica;
    src: url(/assets/font/Helvetica-Font/Helvetica.ttf);
}

/* @font-face {
    font-family: helvetica-italic;
    src: url(/assets/font/helveticaneue-italic/HelveticaNeue);
} */

/* =========line-height====== */
.leading-19 {
    line-height: 19.2px;
}

.leading-24 {
    line-height: 24px;
}

.leading-25 {
    line-height: 25.6px;
}

.leading-26 {
    line-height: 26px;
}

.leading-32 {
    line-height: 32px;
}

.leading-22 {
    line-height: 22.4px;
}

.leading-57 {
    line-height: 57.5px;
}

.leading-68 {
    line-height: 69px;
}

.leading-44 {
    line-height: 44.8px;
}

.leading-38 {
    line-height: 38.4px;
}

.leading-27 {
    line-height: 27.6px;
}

/* =========font-weight======== */
.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.style-italic {
    font-style: italic;
}


/* ===========gap============= */
.gap_36 {
    gap: 36px;
}

.gap_90 {
    gap: 90px;
}

.py-30 {
    padding: 30px 0;
}

.nav_hover:hover {
    color: var(--fc-nav_white);
    transition: all 300ms linear;
}

.comn_btn {
    font-family: 'Helvetica', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 700;
    line-height: 32px;
    background: transparent;
    border: 2px solid transparent;
}

.btnhover {
    transition: all 300ms linear;
}

.btnhover:hover {
    background: var(--fc-white);
    border-radius: 16px;
    box-shadow: 3px 3px 15px -2px var(--fc-white);
    border: none;
}

.btnhover:hover.underline::after {
    display: none;
}

.pading {
    padding: 12px 24px;
}

.gradient-text {
    background-color: var(--fc-historyYellow);
    background-image: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    background: linear-gradient(146.26deg, #EEDDBF 6.74%, #C78A11 110.03%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        z-index: 3;
        /* backdrop-filter: blur(50px); */
        background: var(--fc-black);
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        transition: all 300ms linear;
        z-index: 4;
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
        transition: all 300ms linear;
    }

    .p_20 {
        padding: 20px 0 0 20px;
    }

    .align_items_center {
        align-items: center;
    }

    .mb-48 {
        margin-bottom: 20px;
    }

    .flex_lg_wrap {
        flex-wrap: wrap;
    }

    .bono-img-position::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position2::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position3::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position4::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position5::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position6::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position7::after {
        left: -76px !important;
        z-index: 1;
    }

    .bono-img-position8::after {
        left: -76px !important;
        z-index: 1;
    }

    .d_max_lg_flex {
        display: flex;
        overflow-x: scroll;
    }
}

.cross span:nth-child(1) {
    transform: rotate(51deg) translateY(25px);
    transition: all 300ms linear;
    position: relative;
    top: -6px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-51deg) translateY(-26px);
    transition: all 300ms linear;
    position: relative;
    top: 0;
}

/* =============hero============= */
.max-w-436 {
    max-width: 436px;
}

.max-w-201 {
    max-width: 201px;
}

.pt-139 {
    padding-top: 139px;
}

.main-heading {
    font-family: 'EB Garamond', sans-serif;
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 84px;
}

/* ================translate_box=========== */
.golden_ellips {
    width: 253px;
    height: 253px;
    background: linear-gradient(140.31deg, #FFE143 -11.21%, #F77B00 136.37%);
    filter: blur(210px);
}

.position_history_ellips {
    top: 18%;
    left: 0;
}

.position_history_ellips2 {
    top: 41%;
    right: 0;
}

.mt-32 {
    margin-top: 32px;
}

.Icon_box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
}

.translate_box {
    border-radius: 16px;
    padding: 30px 10px 30px 10px;
    border: 1px solid transparent;
    /* border-image-slice: 1; */
    transform: translateY(-180px);
    background: var(--fc-white);
    position: relative;
}

.translate_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.max-w-239 {
    max-width: 239px;
}

/* =============start-writiing-histary-paper========== */
.z_-1 {
    z-index: -1;
}

.gap-12 {
    gap: 12px;
}

.gap-20 {
    gap: 20px;
}

.mt-28 {
    margin-top: 28px;
}

.py-90 {
    padding: 20px 0;
}

.vido-img-svg-position {
    bottom: 34px;
    left: 34px;
}

.start_writing_box {
    border-radius: 8px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    position: relative;
    transition: all 300ms linear;
}

.start_writing_box:hover {
    box-shadow: 0px 0px 20px 4px #D8D8D840;
}

.start_writing_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 0 0 0 2px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.start_writing_box:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.underline::after {
    content: "";
    position: absolute;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    left: 0;
    right: 0;
    bottom: 0;
    top: 59px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 300ms linear;
}

.max-w-142 {
    max-width: 142px;
}

.border_none {
    border: none;
}

.btn_style {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    max-width: 130px;
    padding: 4px 12px 4px 12px;
    bottom: 27px;
    right: 4%;
    border-radius: 3%;
}

.heading {
    font-family: ' Helvetica', sans-serif;
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 55px;
}

.max-w-524 {
    max-width: 524px;
}

.btnhover_history {
    transition: all 300ms linear;
}

.btnhover_history:hover {
    background: var(--fc-darkyeelow);
    border-radius: 16px;
    box-shadow: 3px 3px 20px 0px var(--fc-black);
    border: none;
}

.btnhover_history:hover.underline::after {
    display: none;
}

/* =============corona========== */
.cursor-pointer {
    cursor: pointer !important;
}

.py-100 {
    padding: 20px 0;
}

.pt_40 {
    padding-top: 40px;
}

#poisition2-order {
    order: 2;
}

#position1-order {
    order: 1;
}

#position3-order {
    order: 3;
}

.second-position {
    position: absolute;
    bottom: -7%;
    left: 0;
}

.first-position {
    position: absolute;
    bottom: -2%;
    left: 11%;
}

.third-position {
    position: absolute;
    bottom: -7%;
    left: 0;
}

.position-svg {
    bottom: -53px;
    right: -41%;
}

.bg_img_corona {
    background-image: url(/assets/svg.img/corona_bg_img.svg);
    background-position: center;
    background-size: cover;
}

.second_position {
    position: absolute;
    bottom: 2%;
}

.max-w-316 {
    max-width: 316px;
}

.max-w-662 {
    max-width: 662px;
}

/* ===============corona-history========== */
.pt-90 {
    padding-top: 30px;
}

.history_box {
    height: 100%;
    background: var(--fc-lighteryellow);
    border-radius: 24px;
    transition: all 300ms linear;
    padding: 10px;
}

.history_box:hover {
    background: var(--fc-darkyeelow);
}

.history_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    border: 0.5px solid;
    border-image-source: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.history_box:hover::before {
    display: none;
}

/* =================slider=============== */
.mb-12 {
    margin-bottom: 12px;
}

.py-130 {
    padding: 20px 0;
}

.max-w-337 {
    max-width: 337px;
}

.max-w-198 {
    max-width: 198px;
}

.max-w-177 {
    max-width: 177px;
}

.slider-bg-img {
    background-image: url(/assets/svg.img/slider-bg-img.svg);
    background-size: cover;
    background-position: center;
}

.donate_box {
    box-shadow: 0px 0px 20px 4px var(--fc--shadowgrey);
    padding: 17px 28px;
    border-radius: 16px;
    position: relative;
}

.donate_box_icon {
    bottom: 17px;
    right: 28px;
}

.donate_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    border: 0.5px solid;
    border-image-source: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.slider_box {
    box-shadow: 0px 0px 20px 4px var(--fc--shadowgrey);
    padding: 40px;
    border-radius: 24px;
    position: relative;
    /* z-index: 3; */
}

.svgIcon_box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    position: relative;
}

.svg_icon_position_slider {
    top: 45%;
    left: -10%;
}

.svg_icon_position2_slider {
    top: 45%;
    right: -10%;
}

.slick-dots {
    margin-bottom: -30px;
    padding: 23px;
}

.slick-dots li button:before {
    color: var(--fc-darkyeelow);
}

.slick-dots li.slick-active button::before {
    color: var(--fc-historyYellow);
}

.svgIcon_box:hover svg path {
    stroke: var(--fc-white);
}

.svgIcon_box:hover {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
}

.svgIcon_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.slider_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    border: 0.5px solid;
    border-image-source: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

/* =========================submission-timeline========================= */
.py-120 {
    padding: 20px 0;
}

.pt-30 {
    padding-top: 30px;
}

.max-w-256 {
    max-width: 256px;
}

.mt-48 {
    margin-top: 48px;
}

.line_timeline::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 25%;
    border: 1px solid;
    border-image: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%)1;
    top: 0;
    left: -60px;
}

.Submission-bg-img {
    background-image: url(/assets/png.img/submission-timeline-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.timeline-submission {
    position: relative;
}

.timeline-submission:after {
    content: "";
    position: absolute;
    min-width: 1px;
    top: 0;
    bottom: 0;
    left: 40px;
    border: 1px solid;
    border-image: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%)1;
}

.submission-img-position1::after {
    content: "";
    position: absolute;
    background-image: url(/assets/svg.img/time-line-box1.svg);
    width: 40px;
    height: 40px;
    left: -80px;
    z-index: 1;
}

.submission-img-position2::after {
    content: "";
    position: absolute;
    background-image: url(/assets/svg.img/time-line-box2.svg);
    width: 40px;
    height: 40px;
    left: -80px;
    z-index: 1;
}

.submission-img-position3::after {
    content: "";
    position: absolute;
    background-image: url(/assets/svg.img/time-line-box3.svg);
    width: 40px;
    height: 40px;
    left: -80px;
    z-index: 1;
}

.submission-img-position4::after {
    content: "";
    position: absolute;
    background-image: url(/assets/svg.img/time-line-box4.svg);
    width: 40px;
    height: 40px;
    left: -80px;
    z-index: 1;
}

.submission-img-position5::after {
    content: "";
    position: absolute;
    background-image: url(/assets/svg.img/time-line-box5.svg);
    width: 40px;
    height: 40px;
    left: -80px;
    z-index: 1;
}

.bottom_border {
    border-bottom: 1px solid var(--fc-timelineBorder);
    width: 100%;
}

.max-w-869 {
    max-width: 869px;
}

.max-w-136px {
    max-width: 136px;
}

.pro_bono_bg {
    background-image: url(/assets/png.img/pro-bono-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline-bono-line {
    position: relative;
}

.timeline-bono-line:after {
    content: "";
    position: absolute;
    min-width: 1px;
    top: 0;
    bottom: 0;
    left: 40px;
    border: 1px solid;
    border-image: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%)1;
}

.bono-img-position::after {
    content: "";
    position: absolute;
    background-image: url(/assets/svg.img/bono_timeline_1img.svg);
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
}

.bono-img-position2::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_2img.svg);
}

.bono-img-position3::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_3img.svg);
}

.bono-img-position4::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_4img.svg);
}

.bono-img-position5::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_5img.svg);
}

.bono-img-position6::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_6img.svg);
}

.bono-img-position7::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_7img.svg);
}

.bono-img-position8::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 148px;
    z-index: 1;
    background-image: url(/assets/svg.img/bono_timeline_8img.svg);
}

/* =========apply-under-an-hour============ */
.max-w-709 {
    max-width: 709px;
}

.max-w-566 {
    max-width: 566px;
}

.max-w-695 {
    max-width: 695px;
}

.max-w-647 {
    max-width: 647px;
}

.max-w-331 {
    max-width: 331px;
}

.padding {
    padding: 24px 20px;
}

.applyin_bg_img {
    background-image: url(/assets/svg.img/aaplin_bg_img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.applyIn_position {
    top: 22%;
    right: 0;
}

.applyin_svgBox {
    min-width: 61px;
    height: 61px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    border-radius: 50%;
}

.ellips_applyIn {
    width: 253px;
    height: 253px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    filter: blur(230px);
}

.underline_gry::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 0 0 2px 0;
    border-bottom: 2px solid #0000003D;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

/* ===================navtabs-history================== */
.navtab_bg_img {
    background-image: url(/assets/png.img/navtabs2.png);
    background-position: center;
    background-size: cover;
}

.navtab_line {
    width: 100%;
    background: var(--fc-navtabborder);
    height: 1px;
    margin: 0 0;
    border-top: transparent;
}


.gap_144 {
    gap: 144px;
}

.gap-40 {
    gap: 40px;
}

.py-125-156 {
    padding: 30px 0 30px 0;
}

.max-w-762 {
    max-width: 762px;
}

.border_navtab {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    Padding: 24px;
    border-color: var(--fc-navtabborder);
}

::-webkit-scrollbar {
    display: none;
}

.Tabs.active::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 2px;
    padding: 0 0 8px 0;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.Tabs.active svg path {
    fill: url(#gradient);
}


.Tabs.active .text_color {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

/* =====================FAQ-acc=============== */
.FAQ_bg_img {
    background-image: url(/assets/png.img/FAQ_acc_bg_img.svg);
    background-size: cover;
}

.text_basline {
    align-items: baseline !important;
}

.max-w-158 {
    max-width: 158px;
}

.max-w-730 {
    max-width: 730px;
}

.max-w-558 {
    max-width: 558px;
}

.accordionHead {
    cursor: pointer;
}

.accordionpara {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
    margin-bottom: 0;
}

.accordion1.active .accordionpara {
    height: unset;
    transition: all 300ms linear;
}

.accordion1.active .accordionHead .color-lightblack70 {
    color: var(--fc-black);
    padding-bottom: 10px;
}

.accordion1 {
    max-width: 558px;
    padding: 18px 24px;
    position: relative;
    transition: all 400ms linear;
    margin-bottom: 24px;
}

.accordionHead::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    border: 0.5px solid;
    border-image-source: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
}

.accordion1.active {
    border-radius: 6px;
    transition: all 300ms linear;
    /* position: relative; */
}

.accordion1.active .arrow {
    transform: rotate(47deg);
    transition: all 300ms linear;
}

/* ==================jullion-grant================ */
.max-w-338 {
    max-width: 338px;
}

.max-w-178 {
    max-width: 178px;
}

.max_w_434 {
    max-width: 434px;
}

.julion-outer-box {
    padding: 10px 20px;
    box-shadow: 0px 0px 15.4375px 3.0875000953674316px var(--fc--shadowgrey);
    border-radius: 4.63px;
}

.julian-ellipse {
    width: 253px;
    height: 253px;
    filter: blur(150px);
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ===============================dive-into-past================== */
.max-w-534 {
    max-width: 534px;
}

.max-w-198 {
    max-width: 198px;
}

.max-w-150 {
    max-width: 150px;
}

.mb-38 {
    margin-bottom: 38px;
}

.pt-44 {
    padding-top: 44px;
}

.pb-38 {
    padding-bottom: 38px;
}

.dive-position-img {
    position: absolute;
    top: -38%;
    right: 0;
}

.max-w-160 {
    max-width: 160px;
}

.mt-50 {
    margin-top: 50px;
}

.max-w-307 {
    max-width: 307px;
}

.max-w-236 {
    max-width: 236px;
}

/* ================footer========================= */
.pl_0 {
    padding-left: 0;
}

.bg_img_footer {
    background-image: url(/assets/png.img/Footer_bg.png);
    background-size: cover;
}

.max-w-405 {
    max-width: 405px;
}

.max-w-283 {
    max-width: 283px;
}

.mb-22 {
    margin-bottom: 22px;
}

.pt_84 {
    padding-top: 84px;
}

.py-14-10 {
    padding: 14px 0 10px 0;
}

.pb_50 {
    padding-bottom: 50px;
}

.outline_none {
    outline: none;
    border: transparent;
}

.border_bottom {
    border-bottom: 0.5px solid var(--fc-footer-Bordergrey);
}

.footer_svg {
    transition: all 200ms linear;
}

.footer_svg:hover {
    transform: translatey(-8px);
}

.footer_grident_text {
    background-color: var(--fc-lightyellow);
    background: linear-gradient(97.68deg, #D7C8AE 1.88%, #F6BA51 110.1%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.border_input {
    /* width: 100%; */
    border: 1px solid var(--fc-bordergrey);
    background: transparent;
    max-width: 520px;
    padding: 17px 0px 20px 17px;
    border-radius: 4px;
}

.bottom_line::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--fc-white);
    left: 0;
    bottom: 0;
    transition: all 200ms linear;
}

.bottom_line:hover::after {
    width: 100%;
}

.end_content:hover {
    color: var(--fc-white);
}

.topBtn {
    width: 50px;
    height: 50px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    z-index: 6;
}

.topBtn.show {
    opacity: 1;
    visibility: visible;
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--fc-purple);
}

/* =====================why-history=============== */
.why_history_grident {
    background-color: var(--fc-historyYellow);
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.why_history_bg_img {
    background-image: url(/assets/png.img/why-history-bg-img.png);
}

@media (min-width:576px) {
    .py-120 {
        padding: 50px 0;
    }

    .mb-30px {
        margin-bottom: 30px;
    }

    :root {
        --fs-xxl: 25px
    }

    .history_box {
        padding: 15px;
    }

    .translate_box {
        transform: translateY(-90px);
    }

    .py-125-156 {
        padding: 50px 0 50px 0;
    }

    .pb_65 {
        padding-bottom: 30px;
    }
}

@media (min-width:768px) {
    .mb-26 {
        margin-bottom: 26px;
    }

    .mb-64 {
        margin-bottom: 40px;
    }

    .mb-60 {
        margin-bottom: 20px;
    }

    .py-90 {
        padding: 50px 0;
    }

    .py-100 {
        padding: 50px 0;
    }

    .py-120 {
        padding: 90px 0;
    }

    .py-130 {
        padding: 50px 0;
    }

    .translate_box {
        padding: 44px 51px 38px 51px;
    }

    :root {
        --fs-xxl: 30px;
    }

    .history_box {
        padding: 18px;
    }

    .start_writing_box {
        padding: 18px 32px 18px 32px;
    }

    .py-125-156 {
        padding: 80px 0 80px 0;
    }
}

@media (min-width:992px) {
    .nav_bg_colr {
        background: linear-gradient(172.75deg, #000000 25.73%, rgba(0, 0, 0, 0) 66.87%);
    }

    #poisition2-order {
        order: 1;
    }

    #position1-order {
        order: 2;
    }

    #position3-order {
        order: 3;
    }

    .gap-32 {
        gap: 32px;
    }

    .mt-48 {
        margin-top: 48px;
    }

    .ml-33 {
        margin-left: 33px;
    }

    .mb-64 {
        margin-bottom: 64px;
    }

    .mb-48 {
        margin-bottom: 48px;
    }

    .mb-32 {
        margin-bottom: 32px;
    }

    .mb-60 {
        margin-bottom: 60px;
    }

    .py-90 {
        padding: 90px 0;
    }

    .pt-90 {
        padding-top: 90px;
    }

    .py-120 {
        padding: 120px 0;
    }

    .pb_65 {
        padding-bottom: 65px;
    }

    .pt_lg_153 {
        padding-top: 153px;
    }

    .py-100 {
        padding: 100px 0;
    }

    .py-130 {
        padding: 130px 0;
    }

    .max-w-944 {
        max-width: 944px;
    }

    .max-w-551 {
        max-width: 551px;
    }

    .max-w-575 {
        max-width: 575px;
    }

    .max-w-573 {
        max-width: 573px;
    }

    .max-w-421 {
        max-width: 421px;
    }

    .start_writing_box {
        max-width: 485px;
    }

    :root {
        --fs-xxl: 48px
    }

    .border_navtab {
        border-width: 0 1px 1px 0;
        border-style: solid;
        Padding: 24px;
        border-color: var(--fc-navtabborder);
    }

    .history_box {
        padding: 24px;
    }

    .heading {
        font-size: var(--fs-xxl);
    }

    .mt-19 {
        margin-top: 19px;
    }

    .navtab_bg_img {
        background-image: url(/assets/svg.img/navtabs-bg-img.svg);
        background-position: center;
        background-size: cover;
    }

    .hero_bg_img {
        background-image: url(/assets/svg.img/Hero_bg-img.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .py-125-156 {
        padding: 125px 0 156px 0;
    }

    .Tabs.active::after {
        content: "";
        position: absolute;
        inset: 0;

        border-radius: 2px;
        padding: 0 8px 0 0;
        background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: all 300ms linear;
    }
}

@media (min-width:1200px) {
    .mb-31 {
        margin-bottom: 31px;
    }

    .mb-28 {
        margin-bottom: 28px;
    }

    .timeline-bono-line:after {
        content: "";
        position: absolute;
        min-width: 1px;
        top: 0;
        bottom: 0;
        left: 15%;
        /* background: green; */
    }

    .timeline-submission::after {
        left: 167px;
    }

    .line_timeline::after {
        left: 167px;
    }

    .submission-img-position1::after {
        content: "";
        position: absolute;
        background-image: url(/assets/svg.img/time-line-box1.svg);
        width: 40px;
        height: 40px;
        left: 148px;
        z-index: 1;
    }

    .submission-img-position2::after {
        content: "";
        position: absolute;
        background-image: url(/assets/svg.img/time-line-box2.svg);
        width: 40px;
        height: 40px;
        left: 148px;
        z-index: 1;
    }

    .submission-img-position3::after {
        content: "";
        position: absolute;
        background-image: url(/assets/svg.img/time-line-box3.svg);
        width: 40px;
        height: 40px;
        left: 148px;
        z-index: 1;
    }

    .submission-img-position4::after {
        content: "";
        position: absolute;
        background-image: url(/assets/svg.img/time-line-box4.svg);
        width: 40px;
        height: 40px;
        left: 148px;
        z-index: 1;
    }

    .submission-img-position5::after {
        content: "";
        position: absolute;
        background-image: url(/assets/svg.img/time-line-box5.svg);
        width: 40px;
        height: 40px;
        left: 148px;
        z-index: 1;
    }

    .d_flex {
        display: flex;
    }

    .mb-83 {
        margin-bottom: 46px;
    }

    .ml_110px {
        margin-left: 85px;
    }

    .ml_135px {
        margin-left: 135px;
    }

    .pl-33px {
        padding-left: 33px;
    }

    .pl-26px {
        padding-left: 26px;
    }

    .pl-16px {
        padding-left: 16px;
    }

    .pl-50 {
        padding-left: 50px;
    }

}

@media (max-width:1200px) {

    /* .wrap_flex {
        flex-wrap: wrap;
    } */
    .mb_0 {
        margin-bottom: 0;
    }

    .ml-100px {
        margin-left: 100px;
    }

    .bono-img-position::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position2::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position3::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position4::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position5::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position6::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position7::after {
        left: -80px;
        z-index: 1;
    }

    .bono-img-position8::after {
        left: -80px;
        z-index: 1;
    }
}

@media (max-width:768px) {
    .heading {
        line-height: 30px;
    }

    .main-heading {
        font-size: var(--fs-3xl);
    }

    .text-md {
        font-size: var(--fs-sm);
    }

    .leading-27 {
        line-height: 24px;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .slider_box {
        padding: 10px;
    }

    .d_md_flex {
        display: flex;
    }

    .max_h_78 {
        max-height: 78px;
    }

    .max_h_52 {
        max-height: 52px;
    }

    .vido-img-svg-position {
        bottom: 20px;
        left: 20px;
    }

    .btn_style {
        padding: 2px 6px 2px 6px;
        bottom: 18px;
        right: 3%;
    }

    .mx_auto {
        margin-left: auto;
        margin-right: auto;
    }

    .pt_40 {
        padding-top: 15px;
    }

    .bono-img-position::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position2::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position3::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position4::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position5::after {
        left: -84px !important;
        z-index: 1;
    }

    .bono-img-position6::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position7::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position8::after {
        left: -79px !important;
        z-index: 1;
    }
}

@media (max-width:576px) {
    /* .justify_content_center {
        justify-content: center;
    } */

    /* .mr-22 {
        margin-left: 22px;
    } */

    /* .mr-78 {
        margin-right: 78px;
    } */

    /* .ml_-21 {
        margin-left: -21px;
    } */

    /* .ml_-11 {
        margin-left: -11px;
    } */

    .pt-139 {
        padding-top: 100px;
    }

    .w-30 {
        width: 30px;
    }

    .translate_box {
        padding: 30px 20px 30px 10px;
    }

    .main-heading {
        font-size: var(--fs-xxl);
        line-height: 52px;
    }

    :root {
        --fs-3xl: 40px;
    }

    .gap_144 {
        gap: 80px;
    }

    .topBtn {
        width: 40px;
        height: 40px;
    }

    .bono-img-position::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position2::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position3::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position4::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position5::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position6::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position7::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position7::after {
        left: -79px !important;
        z-index: 1;
    }

    .bono-img-position8::after {
        left: -79px !important;
        z-index: 1;
    }
}

@media (max-width:1200px)and (min-width:769px) {
    .timeline_v_line {
        min-height: 580px;
    }

    .submission_lastImg {
        bottom: 15px;
    }

    .timeline_bono_line {
        min-height: 959px;
    }
}